@using NUglify
@model IEnumerable<WannaDuo.Model.Entrada>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
   
   
        <div class="col-lg-12">

          
            <div class="card card-background">
                <div class="image" style="background-image: url(&quot;/images/play.jpg&quot;); background-position: center center; background-size: cover;">
                    <img src="~/images/play.jpg" alt="..." style="display: none;">
                    <div class="filter"></div>
                </div>
                <div class="content">
                    <p class="category">WannaDuo</p>
                    <h1 class="title text-center">@Html.ActionLink("¡Apuntame al listado!", "Nuevo")</h1>
               
                    
                  
                </div>

            </div>
            <div class="card card-background">
                <div class="image" style="background-image: url(&quot;/images/search.jpg&quot;); background-position: center center; background-size: cover;">
                    <img src="~/images/search.jpg" alt="..." style="display: none;">
                    <div class="filter"></div>
                </div>
                <div class="content">
                    <p class="category">WannaDuo</p>
                    <a href="#">
                        <h1 class="title text-center">@Html.ActionLink("Invocadores buscando grupo: " + (int)ViewBag.Contador  , "Listado") </h1> 
                    </a>
                </div>

            </div>
               
    

  
    </div>
    </div>
